amqp==5.3.1
asgiref==3.12.1
billiard==4.2.4
celery==5.6.3
certifi==2026.7.22
charset-normalizer==3.4.9
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
dj-rest-auth==7.2.0
Django>=5.0,<6.0
django-allauth==65.18.0
django-cors-headers==4.9.0
djangorestframework==3.17.1
idna==3.18
kombu==5.6.2
mysqlclient==2.2.8
packaging==26.2
prompt_toolkit==3.0.52
python-dateutil==2.9.0.post0
redis==8.0.1
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
stripe==15.3.1
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
urllib3==2.7.0
uuid6==2025.0.1
vine==5.1.0
wcwidth==0.8.2
gunicorn
PyJWT
cryptography
drf-spectacular>=0.27.0